@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
    list-style: none;
}

li {
    margin-bottom: 2em;
}

.header {
    display: flex;
    margin-bottom: 1em;
}

h2 {
    margin: 0
}

.warning {
    background-color: red;
}

button.hidden {
    display: none;
}

#stepping {
    position: fixed;
    right: 1em;
    top: 1em;
}

button {
    
}
